*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.main
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background-color: black;
   

    
}
.header i
{
    font-size: 40px;
    margin: 10px 3px 0px 30px;
    color: white;
}
.head 
{
    font-size: 40px;
    margin: 10px 3px 0px 30px; 
    display: flex;
    gap: 30px;
    align-items: center;
    color: white;
}
.head i
{
    color: white;
}
input
{
width: 450px;
height: 50px;
border-radius: 30px;
padding: 10px 0px 10px 30px;
border: 3px solid white;

}
.head2 a
{
    text-decoration: none;
    font-size: 30px;
    color: white;
    
}
.ok a
 
{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    margin: 0px 20px 0px 30px;
    font-size: 20px;
}
button
{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    margin: 0px 20px 0px 30px;
    font-size: 20px;
}

.bod
{
    display: flex;
    justify-content: space-between;

}
.crat
{
    display: flex;
    justify-content: space-between;
}
.box1
{
    width: 360px;
    height: 630px;
    margin: 10px 0px 0px 20px;
    border-radius: 10px;
    background-color: rgb(36, 34, 34);}
.box2
{
    width: 840px;
    height: 600px;
    margin: 10px 20px 0px 20px;
    border-radius: 10px;
    background-color: rgb(36, 34, 34);
}
.erd 
{
    font-size: 20px;
    color: white;
    margin-top: 10px;
    padding: 10px;

}
.erd i 
{
    margin: 0px 5px 0px 0px;
}
.erd1 
{
    font-size: 20px;
    color: white;
    margin-top: 10px;
padding: 10px;
}
.crate
{
    width: 321px;
    height: 146px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(79, 77, 77)
}
.crate h3 
{
    color: white;
    margin: 10px 0px 0px 40px;
    padding-top: 20px;
}
.crate h5 
{
    color: white;
    margin: 10px 0px 0px 40px;
    padding-top: 5px;
}
.play 
{
    background-color: white;
    width: 190px;
    height: 43px;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid white;
}
.play a{
    text-decoration: none;

}
.crate1
{
    width: 321px;
    height: 171px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(79, 77, 77)
}
.crate1 h3 
{
    color: white;
    margin: 10px 0px 0px 40px;
    padding-top: 20px;
}
.crate1 h5 
{
    color: white;
    margin: 10px 0px 0px 40px;
    padding-top: 5px;
}
.crate2
{
    width: 321px;
    height: 190px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(79, 77, 77)

}
.eng
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-top: 40px;
}
.eng a
{
    text-decoration: none;
    color: white;
}
.eng1
{
    display: flex;
    margin: 20px 0px 0px 10px;
    gap: 10px;
}
.eng1 a{
    text-decoration: none;
    color: white;
}
.erth
{
    background-color: black;
    border: 2px solid white;
    margin: 10px;
}
.erth a
{
    text-decoration: none;
    gap: 30px;
    color: white;
}
.artis{
    width: 100%;
    height: 50px;
}
.popu
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.ashu a
{
    text-decoration: none;
    color: white;

}
.aman a{
    text-decoration: none;
    color: white;

}
.mhaveer
{
    width: 100%;
    height: 300px;
}
.ajay
{
    display: flex;
}
.kamal img
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px;
}
.jogrn a
{
text-decoration: none;
color: white;
}
.vike a
{
text-decoration: none;
color: white;
}